<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script data-require="angular-route@1.6.2" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="customStyle.css" />
    <script src="script.js"></script>
</head>

<body>
    <div ng-app="myApp">



        <div class="container" ng-controller="userName">
            <!-- {{userName}} -->
            <br>
            <div class="row">

                <div class="col-md-6">
                    <div ng-controller="fetchLocation">
                        <!-- {{location}} -->

                        <!-- {{location}} -->
                        <p>
                            <a class="btn" style="border: 1px solid darkturquoise" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                User Stats
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <!-- {{location.data}} -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Key</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in location.data">
                                            <td ng-if=key!="languages">{{key}}</td>
                                            <td ng-if=key!="languages">{{value}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">

                        <form class="form-inline pull-right">
                            <div class="form-group mx-sm-3 mb-2">
                                <!-- <label for="inputPassword2" class="sr-only">User Name</label> -->
                                <input type="text" class="form-control" ng-model="userName" placeholder="github User Name">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2" ng-click="search(userName)">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div ng-if="!user">{{error}}</div>
            <div class="row" ng-if="user">
                <!-- {{userData.length}} -->
                <div class="col-md-4">
                    <img ng-src={{userData.avatar_url}} class="img-thumbnail">
                </div>
                <div class="col-md-8">
                    <table class="table table-sm table-light">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">PERSON'S PROFILE:</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="userData.name">
                                <td><b>Login</b></td>
                                <td>{{userData.name}}</td>
                            </tr>
                            <tr ng-if="userData.location">
                                <td><b>Location</b></td>
                                <td>{{userData.location}}</td>
                            </tr>
                            <tr ng-if="userData.company">
                                <td><b>Company</b></td>
                                <td>{{userData.company}}</td>
                            </tr>
                            <tr>
                                <td><b>Github Profile</b></td>
                                <td>
                                    <a href={{userData.html_url}} target="_blank">Profile</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br>
            <div class="row" ng-if="user">

                <div class="col-md-12" ng-if="repos.length>0">
                    <b>Total Repositories: </b>{{repos.length}}
                    <table class="table table-sm table-light">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Repository</th>
                                <th scope="col">Language</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="repo in repos">
                                <td>{{$index+1}}</td>
                                <td>
                                    <div class="list-group">
                                        <a href={{repo.svn_url}} target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-10 justify-content-between">
                                                <h5 class="mb-1">{{repo.name}}</h5>
                                                <small ng-if="repo.numOfCommits<30">Commits: {{repo.numOfCommits}}</small>
                                                <small ng-if="repo.numOfCommits==30">Commits: {{repo.numOfCommits}} +</small>
                                            </div>
                                            <p ng-if="repo.description" class="mb-1">{{repo.description}}</small>
                                        </a>
                                    </div>
                                </td>

                                <td>{{repo.language}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>